@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cairo';
    src: url('./fonts/Cairo-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia';
    src: url('./fonts/SofiaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Cairo', 'Sofia', sans-serif !important;
}
